body {
  color: #777;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

li {
  list-style: none
}

a {
  text-decoration: none;
  color: #777;
}

.header {
  box-shadow: 0 0 0 #c2c5c6, 0 3px 5px #c2c5c6;
}

.wrapper {
  display: flex;
  margin: auto;
  width: 1135px;
}

.main-menu {
  margin: auto;
}

.logo-img img {
  padding-right: 415px;
  margin: 27px 0 30px 0;
  width: 135px;
  height: 35px; 
}

.main-menu li {
  text-transform: uppercase;
  padding-right: 45px;
}

.main-menu ul {
  display: flex;
}

.active {
  color: #000;
}

.active::before {
  content: " ";
  display: inline-block;
  border: 1px solid #000;
  width: 15px;
  margin-right: 10px;
  vertical-align: middle;  
  } 

  .action {
    background: url('/assets/img/mainbackground.png') no-repeat;
    margin: auto;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
    letter-spacing: 7px;
    text-align: center;
    width: 1600px;
    padding-top: 460px;
    padding-bottom: 281px;
  }

  .action-text {
    letter-spacing: 5px;
    width: 750px;
    height: 70px;
    font-size: 48px;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    background-color: #000;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 25px;  
  }



